<%= javascript_include_tag "current_user_contents" %>


<div id='stuff'>
  
  <h1 class='tagline'>Add It. Share It. Grab It.</h1>
  
<!-- Template Form   -->
  <div id="form_container">
  </div>

<!-- Templated List of Content -->
  <div id="content_list">
  </div>

</div>


