<%= javascript_include_tag "followed_user_contents" %>


<div id='stuff'>

<!-- User's image in the side nav -->
  <div id='profile_info'>
    <img style="height: 100px; width: 100px;" src=<%= @user.image %>>
    <h1 class="follow_user_profile_name"><%= @user.name  %></h1>
  </div>

<!-- Templated List of Content -->
  <div id="content_list">
  </div>

</div>

