html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}


html {
  min-height:100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}


div {
  color: green;
}


.top-bar {
   background-color: #351845;
   height: 80px;
   margin-top: 0;
   /*position: fixed;*/
}

.nav_items {
  /*float: right;*/
  margin-left: 70%;
  /*margin-right: 1%;*/
  color: white;
  font-size: 20px;
  margin-top: 30px;
}

.nav-item a {
 color: white;
 font-size: 25px;
 bottom: 0;
}



.top-bar ul {
  margin-top: 20px;
}



.nav-item a:hover {
  color: #5555eb;
}

.nav-item {
  display: inline;
  margin: 5px;
  color: white;
  /*font-weight: bold;*/

}


.side_nav_div {
  height: 2500px;
  float:right;
  width: 15%;
  position: absolute;
  overflow: scroll;
}

ul.side-nav {
  float: right;
  background-color: #351845;
  z-index: 20;
  /*position: relative;*/
  width: 100%;
  height: 100%;
}

#stuff {
  width: 85%;
  margin-left: 15%;
}


.profile_picture {
  text-align: center;
}

#main-container {
  margin-top: 70px;
  margin-left: 3%;
  margin-right: 3%;
}

.content_box {
  height: 200px;
  width:270px;
  border: 1px solid black;
  display: inline-block;
  float: left;
  margin: 15px;
  position: relative;
  background-color: #a279e0;
  
}

.content_box:active {
    background-color: #593759;
}

#content_delete_button {
  /*margin-left: 23%;*/
  width: 100%;
  text-align: center;
  margin: 0;
  bottom: 0;
  position: absolute;
  height: 55px;
  font-size: 25px;
}

.my_favicon {
  height: 40px;
  width: 40px;
}

.content_title {
  font-size: 20px;
  text-align: center;
  color: white;
}


button {
  background-color: #3c2c45;
}

button:hover {
  background-color: #593759;
}

.btn {
   background-color: #3c2c45;
}

#unfollow_user_button {
  background-color: red;
}

#content_add_button {
  width: 100%;
  font-size: 25px;
}



.follower {
  border: 1px solid black;
}

.hoverdrop {
  background-color: red;
}

.favicon {
  width: 100%;
}


#content_url {
  height: 60px;
  font-size: 30px;
  /*margin-top: 100px;*/
}

